.cookie-consent {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
    text-align: center;
    padding: 20px 10px;
    z-index: 9999;
}
.cookie-consent button {
    border: 0;
    padding: 5px 15px 3px;
    margin-left: 10px;
    color: #fff;
    background-color: #00aeef;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    transition: background-color 0.3s;
    cursor: pointer;
}
.cookie-consent button:hover {
    background-color: #007faf;
}
